<div class="dd-row group-profile">

  {{#if viewGroup}}
  <img class="dd-photo dd-photo-large" src="{{image}}">
  <span class="dd-col group-actions">
    <span class="group-username">{{username}}@username</span>
    <span class="member-count input-name-tag">{{count}}&nbsp;pessoas</span>
    {{#if owner}}
    <button data-id="{{id}}" class="EditGroup input-name-tag"><a href="#group/edit/{{id}}"
    >editar</a></button>
    {{else}}
    <button data-id="{{id}}" class="LeaveGroup input-name-tag">sair</button>
    {{/if}}
  </span>
  {{else}}
  <span class="dd-col">
    <span class="hidden-input">
      <input type="file" class="NewPhoto file-field" />
    </span>
    <div class="AddImage dd-photo-frame">adicionar foto
      <img src="{{image}}" class="dd-photo temp-image {{#if editGroup}}{{else}}hidden{{/if}}">
    </div>
    {{#if editGroup}}<div class="text-white">editar</div>{{/if}}
  </span>
  <div class="input-group quarter-3">
    <input type="" class="GroupName dd-input-squared" placeholder="nome grupo" value="{{name}}" />
  </div>
  {{/if}}
</div>

{{#if viewGroup}}
<div class="button-group payment-actions">
  <a href="#payment/group/{{id}}" >
    <button class="EnterAmount dd-payment-button button-large inverse text-upper" type="button">pagar ou cobrar</button>
  </a>
</div>
{{/if}}
<div class="member-management">
  {{#if editGroup}}
    <div class="text-white text-left padded-left">+ ADICIONAR PARTICIPANTE</div>
  {{/if}}

  <div class="SearchMember submodule"></div>

  {{#if editGroup}}
    <div class="text-green divider-bottom">PARTICIPANTES</div>
    <div class="SelectedMembers dd-list submodule"></div>
  {{/if}}
</div>
{{#if viewGroup}}
{{else}}
<div class="payment-actions dd-button-group button-group fixed-bottom">
  <button class="CancelEdit dd-payment-button">CANCELAR</button>
  <button class="Submit dd-payment-button">OK</button>
</div>
{{/if}}