<div class="input-keypad">
  <div class="display">
    <span class="unit">R$</span>
    <h1 id="PaymentAmountDisplay" class="payment-amount">0,00</h1>
    {{#if isWithdraw}}
    {{else}}
    <div class="total">
      <span>TOTAL:&nbsp;</span>
      <span class="color-green">R$ <span class="totalAmount total-amount">0</span></span>
      <span class="people">
        (<span class="Activity User button activity-icon header-icon dd-icon-person-grey-01 ico-size-30"></span><span class="peopleNum people-num">0</span>&nbsp;)
      </span>
    </div>
    {{/if}}
  </div>

  <div class="keypad">
    <div class="keypad-row">
      <button class="button key NumKey" value="1" type="button">1</button>
      <button class="button key NumKey" value="2" type="button">2</button>
      <button class="button key NumKey" value="3" type="button">3</button>
    </div>
    <div class="keypad-row">
      <button class="button key NumKey" value="4" type="button">4</button>
      <button class="button key NumKey" value="5" type="button">5</button>
      <button class="button key NumKey" value="6" type="button">6</button>
    </div>
    <div class="keypad-row">
      <button class="button key NumKey" value="7" type="button">7</button>
      <button class="button key NumKey" value="8" type="button">8</button>
      <button class="button key NumKey" value="9" type="button">9</button>
    </div>
    <div class="keypad-row">
      <button class="button key DelimiterKey" type="button">&nbsp;<span class="abs-pos-key">,</span></button>
      <button class="button key NumKey" value="0" type="button">0</button>
      <button class="button key RemoveKey" type="button">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
  </div>
</div>