<div class="profile-container ios-scroll-fix">
  <br>
  <br>
  <div class="user-photo-container large-image">
    {{{image}}}
  </div>

  <div class="edit-photo dd-row">
    <span class="text-green">EDITAR</span>
    <span class="hidden-input">
      <input type="file" class="NewPhoto file-field" />
    </span>
  </div>
  <br>
  <div class="input-group">
    <div class="input-with-icon">
      &nbsp;
      <img class="icon-sm input-icon" src="static/sprite/ico/dd-icon-person-darkgreen-01.png">
      <input class="FullName dd-input-squared has-icon" value="{{fullName}}">
    </div>
    <div class="input-with-icon">
      &nbsp;
      <img class="icon-sm input-icon" src="static/sprite/ico/dd-icon-username-darkgreen.png ">
      <div class="dd-input-squared has-icon dd-input-locked">{{username}}</div>
    </div>
    <div class="input-with-icon">
      &nbsp;
      <img class="icon-sm input-icon" src="static/sprite/ico/dd-icon-email-darkgreen.png">
      <input class="Email dd-input-squared has-icon" value="{{email}}">
    </div>
    <div class="input-with-icon">
      &nbsp;
      <img class="icon-sm input-icon" src="static/sprite/ico/dd-icon-phone-darkgreen.png">
      <input class="PhoneNum dd-input-squared has-icon" type="tel" value="{{phoneNum}}">
    </div>
    <br>
    <div class="button-group payment-actions edit-actions center-content relative">
      <button class="SaveProfile dd-payment-button" type="button">SALVAR</button>
    </div>
</div>