<div class="wrapper header-wrapper">
  <span class="MenuToggle menu-toggle button">
   <i class="header-icon ico-size dd-icon-menu-grey-01"></i>
  </span>
  <span class="ActivitySelector activity-selector">
    <span class="Activity Global button activity-icon header-icon dd-icon-feed-lightgreen-01 ico-size active"></span>
    <span class="Activity Pending button activity-icon header-icon dd-icon-odds-grey-01 ico-size">
      <span class="PendingCount badge-icon badge-icon-red"></span>
    </span>
    <span class="Activity User button activity-icon header-icon dd-icon-person-grey-01 ico-size">
      <span class="RequestsCount badge-icon badge-icon-red"></span>
    </span>
  </span>
  <span class="MakePayment logo-wrapper button">
    <span class="payBt dd-icon-new-grey-01 ico-size"></span>
  </span>
</div>
<div class="MenuPaneWrapper menu-pane-wrapper"></div>