.ico-size{
    width: 45px;
    height: 45px;
    display: inline-block;
}
.ico-size-30{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.ico-size-32{
    width: 32px;
    height: 32px;
    display: inline-block;
}
.ico-size-60 {
    width: 60px;
    height: 60px;
    display: inline-block;
}


.dd-icon-menu-grey-01{
    background: url(../ico/dd-icon-menu-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-feed-lightgreen-01{
    background: url(../ico/dd-icon-feed-lightgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;

}
.dd-icon-feed-grey-01{
    background: url(../ico/dd-icon-feed-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-odds-lightgreen-01{
    background: url(../ico/dd-icon-odds-lightgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-odds-grey-01{
    background: url(../ico/dd-icon-odds-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-person-lightgreen-01{
    background: url(../ico/dd-icon-person-lightgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-person-grey-01{
    background: url(../ico/dd-icon-person-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-person-darkgreen-01 {
    background: url(../ico/dd-icon-person-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-new-lightgreen-01{
    background: url(../ico/dd-icon-new-lightgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-new-grey-01{
    background: url(../ico/dd-icon-new-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-public-darkgreen-01{
    background: url(../ico/dd-icon-public-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-public-grey-01 {
    background: url(../ico/dd-icon-public-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-group-darkgreen-01{
    background: url(../ico/dd-icon-group-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-heart-01{
    background: url(../ico/dd-icon-heart-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-heart-highlight-01{
    background: url(../ico/dd-icon-heart-highlight-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-comment-01{
    background: url(../ico/dd-icon-comment-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-comment-highlight-01{
    background: url(../ico/dd-icon-comment-highlight-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-topay-darkgreen-01{
    background: url(../ico/dd-icon-topay-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-toreceive-darkgreen-01{
    background: url(../ico/dd-icon-toreceive-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-arrowleftfilled-darkgreen{
    // background: url(../ico/dd-icon-arrowleftfilled-darkgreen.png) 0 0 no-repeat;
    background: url(../ico/dd-icon-arrowleft-darkgreen.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-arrowleft-grey{
    background: url(../ico/dd-icon-arrowleft-grey.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-crossdelete-grey-01 {
    background: url(../ico/dd-icon-crossdelete-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.dd-icon-bag-darkgreen-01 {
    background: url(../ico/dd-icon-bag-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-recent-lightgreen-01{
    background: url(../ico/dd-icon-recent-lightgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-privacy-grey-01{
    background: url(../ico/dd-icon-privacy-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-block-grey-01{
    background: url(../ico/dd-icon-block-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-notifitications-grey-01{
    background: url(../ico/dd-icon-notifitications-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-attention-grey-01{
    background: url(../ico/dd-icon-attention-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-settings-grey-01{
    background: url(../ico/dd-icon-settings-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-group-grey-01{
    background: url(../ico/dd-icon-group-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-private-grey-01{
    background: url(../ico/dd-icon-private-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-help-grey-01{
    background: url(../ico/dd-icon-help-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-faq-grey-01{
    background: url(../ico/dd-icon-faq-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-chat-grey-01{
    background: url(../ico/dd-icon-chat-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-message-grey-01{
    background: url(../ico/dd-icon-message-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-check-darkgreen-01 {
    background: url(../ico/dd-icon-check-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-check-grey-01 {
    background: url(../ico/dd-icon-check-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-crossdelete-darkgreen-01 {
    background: url(../ico/dd-icon-crossdelete-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-friends-darkgreen-01 {
    background: url(../ico/dd-icon-friends-darkgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-friends-grey-01 {
    background: url(../ico/dd-icon-friends-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-public-grey-01{
    background: url(../ico/dd-icon-public-grey-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.dd-icon-private-lightgreen-01{
    background: url(../ico/dd-icon-private-lightgreen-01.png) 0 0 no-repeat;
    background-size: 100% 100%;
}