// color schemes
$color_green: #92C473;
$color_green_sharp: #4FB169;
$color_light_bg: #FFFCE2;
$color_light_bg_focus: #E4E0BE;
$color_green_bg: #003A42;
$color_green_no_highlight: #A6D6A7;
$color_green_text: #92C473;
$color_green_new: #003A42;
$color_light_text: #5D6058;
$color_black: #000;
$color_white: #FFF;
$color_transparent: rgba(0, 0, 0, 0);
$color_red: #F00;
$color_blue: #2072B2;
$color_gray_bg: #F5F5F5;
$color_gray_bg_light: #F6F6F6;

$color_grey_bg: #DADADA;
$color_touch_highlight: #ebebe9;

// dimensions
$divider_height: 10px;
$nav_height_md: 70px;
$nav_height_lg: 60px;

$photo_md: 48px;
$photo_sm: 32px;
$icon_md: 16px;
$photo_xl: 128px;
$photo_xxl: 256px;

$margin_left: 5%;

//welcome page
$gradient_start: #3F6B71;
$gradient_to: #2A5A61;
$gradient_end: #003A42;