@import '_variables.scss';
// @import '../../sprite/style/ico.css';
@import '_ico';

@mixin padding-one-em {
  padding: 1em;
}

@mixin text-oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin ios-tap {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body
{
  height: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}

span {
  display: inline-block;
}

h1 {
  font-weight: 300;
  letter-spacing: 5px;
}

img {
  max-height: 100%;
}

/**
 * CSS:ios
 * CSS:hack
 */
.ios-scroll {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.ios-scroll-fix {
  position: absolute;
  width: 100%;
  height: 125%;
  -webkit-overflow-scrolling: touch;
  &.has-nav {
    top: $nav_height_md;
  }
}

.ios-pad-bottom {
  display: block;
  background: transparent;
  height: 60px;
}

.ios-bottom-fix {
  display: block;
  height: 200px;
  width: 100%;
}

// ::-webkit-input-placeholder {
//    color: $color_white;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: $color_white;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: $color_white;
// }

// :-ms-input-placeholder {
//    color: $color_white;
// }

.col-10 {
  width: 10%;
}

@for $i from 1 through 10 {
  .col-#{$i} {
    width: 10% * $i;
  }
}


/**
 * CSS: Icon
 */
.icon-150 {
  font-size: 1.5em !important;
  vertical-align: middle;
}

.icon-sm {
  height: 32px;
  width: 32px;
  img {
    max-height: 100%;
  }
}

.header-icon {
  position: relative;
}

.badge-icon {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;

  &-red {
    color: $color_white;
    background: $color_red;
  }

  &-tab {
    top: 5px;
    right: 15px;
  }
}

/**
 * Comment:
 * This is used as an icon. So put styling rules
 * where those for icons are.
 */
.plus{
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0.9em;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 5px;
  color: $color_black;
  font-weight: 100;
  font-size: 3.5em;
  padding: 0;
  /**
   * TODO:
   * Text looks better with this enabled, consider
   * adding globally.
   */
  text-rendering: geomatricPrecision;
}

/**
 * CSS:Text
 */
.title {
  color: $color_white;
  letter-spacing: 2px;
  text-transform: uppercase;

  &.black {
    color: $color_black;
  }
}

.tag {
  text-align: left;
  margin-left: 5%;
}

.text-green {
  font-size: 1em;
  color: $color_green !important;
  font-weight: 200;
  letter-spacing: 2px;
  &.inverse {
    background: $color_green_bg;
    padding: 0.5em;
    color: $color_white !important;
    font-size: 0.8em;
    margin: 0.5em;
  }
}

.text-white {
  color: $color_white !important;
}

.text-green-dark {
  color: $color_green_bg !important;
}

.text-left {
  text-align: left;

  &.padded-left {
    padding-left: 5%;
  }
}

.text-small {
  font-size: 0.8em;
}

.text-compact {
  letter-spacing: 0;
}

.welcome-text {
  font-size: 1.5em;
}

.text-upper {
  text-transform: uppercase;
}

.display-name {
  font-size: 1.2em;
}

/**
 * CSS:icon
 */
.icon-button {
  padding: 0.5em;
}

/**
 * CSS:spatial
 * CSS:distance
 * CSS:margin
 * CSS:padding
 */
.dd-container {
  width: 90%;
  margin: auto;
}

.padded {
  padding: 1em;

  &.padded-sm {
    padding: 0.8em 0;
    color: $color_white;
    text-align: center;
    //border-top: 1px solid red;
    width: 90%;
    margin: 0 auto;
    .back-ico{
      height: 30px;
      position: absolute;
      left: 10px;
      top: 77px;
    }
  }
}

.full-page {
  height: 100%;
}

.hidden-input {
  left: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  opacity: 0;

  .file-field {
    height: 100%;
    width: 100%;
  }
}


.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  &.loader-page {
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    font-size: 3em;
    color: $color_white;
  }

  &.loader-content {
    position: absolute;
    font-size: 2em;
    color: $color_white;
  }
}

.dd-button {
  display: block;
  color: $color_light_text;
  background: $color_white;
  margin: 1em auto;
  border: none;
  border-radius: 2em;
  padding: 0.5em;

  &.bordered {
    border: 1px solid $color_green_bg;
  }

  &.button-small {
    margin: 0;
    display: inline-block;
    padding: 0.2em 0.5em;
    width: 70px
  }

  &.button-middle {
    display: inline-block;
    width: 40%;
  }

  &.button-large-x {
    padding: 0.5em;
    width: 80%;
  }

  &.button-large {
    padding: 1em;
    width: 60%;
    font-size: 0.7em;
  }

  &.dd-button-squared {
    border-radius: 0;
  }

  &.dd-button-green {
    color: $color_white;
    background: $color_green_bg;
  }

  &.dd-button-compact {
    margin-left: 5px;
    height: 30px;
    font-size: 0.8em;
  }

}

/**
 * CSS:input
 */
// TODO: refactor other tag styling and remove redundancies
.input-name-tag {
  background: $color_green_new;
  padding: 0.2em 0.8em;
  border-radius: 1em;
  margin: 0 5px;
  color: $color_white;
  border: 0;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.search-input {
  font-family: FontAwesome;
  font-size: 0.7em;
}


.dd-form {
  padding-bottom: 15%;

  .dd-payment-input {
    width: 85%;
    padding: 1em;
    background: $color_white;
    font-size: 0.7em;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;

    &.payment-input-sm {
      width: 30%;
    }
  }
  .dd-input-squared{
    line-height: normal;
    //height: 3em;
    //color: $color_black;
    min-height: 1em;
    background: $color_white;
    border: 0;
    border-radius: 0;
    width: 91%;
    font-size: 1em;
    margin: auto;
    text-align: left;
    padding: 1em 0;
    display: flex;
    align-items: center;
    position: relative;

    &.has-icon {
      width: 80%;
      padding-left: 11%;
    }

    .input-name-tag{
      background: $color_green_new;
      padding: 0.5em 0.8em;
      border-radius: 1em;
      margin: 0 5px;
    }

    .recipients {
      width: 90%;
    }
  }
  /**
   * CSS:dropdown
   */
  .dd-drop-down {
      width: 85%;
      max-width: 85%;
      padding: 1em !important;
      margin: auto;
      font-size: 0.7em;
      line-height: initial !important;
      min-height: 1em !important;
  }

  .input-keypad {
    .display {
      position: relative;
      width: 95%;
      margin: 0 auto;

      .unit {
        position: absolute;
        left: 5%;
        top: 0;
        color: $color_white;
      }

      .payment-amount {
        font-size: 3.5em;
        margin: 0;
        color: $color_white;
        text-align: left;
        margin-left: 0.4em;
        padding-top: 0.2em;
      }
      .total{
        color: $color_white;
        text-align: left;
        display: flex;
        align-items: center;
        padding: 0 1em 1em 1em;

        .color-green{
          color: #7fc06f;
        }
        .people{
          margin-left: 1em;
          display: flex;
          align-items: center;
        }
      }
    }

    .keypad {
      width: 95%;
      margin: 0 auto;

      .key {
        position: relative;
        width: 30%;
        font-size: 1.5em;
        padding: 0.3em;
        background: $color_white;
        border: none;
        margin: 2px;

        .abs-pos-key {
          position: absolute;
          left: 0;
          right: 0;
          line-height: 0;
          font-size: 2em;
        }
      }
    }

    &.inverse {
      .display {
        .unit {
          color: $color_green_bg;
        }
        .payment-amount {
          color: $color_green_bg;
        }

      }

      .keypad {
        .key {
          background: $color_green_bg;
          color: $color_white;
        }
      }
    }
  }
}

.payment-actions {
  margin-top: 0.5em;
  justify-content: space-between;

  .dd-payment-button {
    width: 45%;
    padding: 0.7em;
    background: none;
    border: 1px solid $color_white;
    color: $color_white;

    &.inverse {
      border: 1px solid $color_green_bg;
      color: $color_green_bg;
    }

    &.button-large {
      width: 80%;
      margin: auto;
    }

    &.button-large-x {
      width: 100%;
    }
  }
}

.button-group {
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  a {
    height: 100%;
    width: 100%;
  }

  &.center-content {
    justify-content: center;
  }

  &.fixed-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: $color_green_bg;
  }
}

.divider-group {
  text-align: center;
  color: $color_white;
}

.input-group {
  text-align: center;

  .input-with-icon {
    position: relative;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }

  .dd-input {
    line-height: 2.5em;
    margin: 0.3em auto;
    border-radius: 2em;
    border: 2px solid #FFFCE2;
    padding-left: 20px;
    width: 70%;
    background: none;
    color: $color_green;
  }

  .dd-input-squared {
    line-height: normal;
    height: 2.5em;
    color: $color_black;
    border: 0;
    border-radius: 0;
    width: 90%;
    font-size: 1em;
    background: transparent;
  }

  /**
   * This is usually a div
   */
  .dd-input-locked {
    color: $color_green;
    background: $color_white;
    display: flex;
    align-items: center;
    margin: auto;
  }
}

.dd-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px;
}

.dd-col {
  position: relative;
  display: flex;
  flex-direction: column;
}


/**
 * CSS:List
 */
.dd-list {
  overflow: auto;


  .dd-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    a {
      display: block;
      height: 100%;
      width: 100%;
      color: inherit;
      text-decoration: none;
    }

    &.left {
      text-align: left;
    }

    &.account-list-item {
          border: 1px solid #fff;
          color: white;
          background: $color_green_bg;
          padding: 0.5em;
          letter-spacing: 1px;
          margin: 1em;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .item-text {
            width: 100%;
            text-align: left;
            padding-left: 1em;
            font-size: 0.8em;
          }

          &.inverse {
            background: transparent;
            color: $color_green_bg;
          }

          &.inverse-light {
            color: $color_white;
            border: 1px solid $color_white;
          }
    }



  }
}

@for $i from 1 through 4 {
  .quarter-#{$i} {
    width: 25% * $i;
  }
}

/**
 * CSS:image
 */
// dd-photo is the FRAME that covers the photo,
// not supposed to be the <img /> photo itself
.dd-photo {
  height: $photo_md;
  width: $photo_md;
  border-radius: 50%;
  overflow: hidden;

  &.dd-photo-small {
   height: $photo_sm;
   width: $photo_sm;
  }

  &.dd-photo-large {
    height: $photo_xl;
    width: $photo_xl;
  }

  &.dd-photo-md {
    height: $photo_md * 2;
    width: $photo_md * 2;
  }

  &.dd-photo-x-large {
    height: $photo_xxl;
    width: $photo_xxl;
  }

  &.default-photo{
    border: 2px solid $color_green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    &.islarge {
      height: 48px;
      width: 48px;

    }

    &.center{
      margin: 0 auto;
      color: #fff;
    }
  }
}
.large-image{
  .islarge{
    max-height: 100%;
    max-width: 100%;
    height: $photo_xl;
    width: $photo_xl;
  }
}


.dd-photo-frame {
  color: #FFF;
  width: 60px;
  border: 2px solid #91C373;
  height: 60px;
  display: flex;
  vertical-align: middle;
  border-radius: 50%;
  font-size: 0.7em;
  align-items: center;
  position: relative;

  .temp-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.update-photo {
  position: relative;
}

.dd-photo-link {
  display: inline-block;
}

.dd-link-block {
  display: block;
  text-decoration: none;
  color: inherit;
  &.flex {
    display: flex;
    align-items: center;
  }
}

.text {
  &.notice {
    color: #FFFCE2;
    font-size: 0.7em;
    width: 70%;
    margin: 0 auto;
    text-align: center;

    a{
      color: #fff;
      text-decoration: underline;
    }
  }
}


/**
 * CSS:div
 * CSS:block
 */
.text-block {
  display: block;
}

.submodule {
  .app-page {
    margin: 0;
  }
  .dd-form {
    margin: 0;
    padding: 0;
  }
  &.dd-list {
    height: 300px;
  }
}

.divider-bottom {
  width: 80%;
  padding: 0.5em 0.5em;
  margin: 0.5em auto;
  border-bottom: 2px solid $color_white;
}

.tab-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  background: $color_grey_bg;
  color: $color_green_bg;
  font-size: 1.2em;
  border-bottom: 2px solid $color_white;


  &.tab-container-horizontal {
    justify-content: center;
  }

  .tab {
    display: flex;
    justify-content: space-between;

    .fixed-tab-label {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      font-size: 0.7em;
    }

    &.tab-half {
      width: 30%;
      margin: auto 5%;
      display: inline-block;
      position: relative;

      &.tab-half-padded {
       padding-bottom: 10px;
      }
    }

    &.active {
      border-bottom:1px solid $color_green_new;
    }

  }

  &.tab-container-fixed-top {
    position: fixed;
    top: $nav_height_md;
    height: $nav_height_md;
    z-index: 99;
  }
}


.wrapper {
  height: 100%;
  width: 90%;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid #fff;

  &.header-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header {
  width: 100%;
  background: $color_white;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  color: $color_light_text;

}

.header-bar {
  background: $color_green_bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: $nav_height_md;
  height: $nav_height_md;
  width: 100%;
  color: $color_white;

  .menu-toggle {
    height: $nav_height_md;
    width: $nav_height_md;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-pane-wrapper {
    max-width: 80%;
    width: 80%;
    background: $color_white;
    color: $color_black;
    position: fixed;
    height: 100%;
    top: $nav_height_md;
    left: -80%;
    overflow: auto;

    .menu-pane {
      // height: 100%;
      background: $color_green_bg;
      color: $color_white;

      .top-section {
        height: 10%;
        padding-bottom: 2em;
        text-transform: uppercase;
        // TODO: all top sections could be 10% by default
        .account-overview {
          height: 100%;
          position: relative;
          padding: 0.5em;
          height: 55px;

          .account-balance {
            align-self: baseline;
            background: $color_white;
            color: $color_green_bg;
            padding: 0.5em 1em;
            border-radius: 1.5em;
            font-size: 0.7em;
          }

          .margin-image{
            margin-left: 0.5em;
          }
        }
      }

      .menu-item {
        background: $color_green_bg;
        color: $color_white;
        width: 90%;
        margin: auto;
        letter-spacing: 1px;
        margin-bottom: 1em;
        height: 40px;
        display: flex;
        align-items: center;

        .menu-icon {
          width: 15%;
          text-align: center;
        }

        .menu-name {
          font-size: 0.9em;

          &.small-text {
            font-size: 0.8em;
          }
        }
      }
    }
  }


  .activity-selector {
    width: 50%;
    padding: 0.1em;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;

    .activity-icon {
      font-size: 1em;

      &.active {
        color: $color_green;
      }
    }
  }

  .logo-wrapper {

    .header-logo {
      height: 90%;
    }
  }

  .header-icon {
    vertical-align: middle;
    font-size: 1.5em;
  }
}

.navbar {
    height: 70px;
    background: #003A42;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid #fff;

  .page-info {
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    display: flex;
    align-items: center;

    .page-ico{
      position: relative;
      // right: -1em;
    }
    .pagename{
      position: relative;
      // right: -1em;
      padding: 0;
      margin: 0;
      font-size: 0.8em;
    }
    &.name-bar {
      text-align: center;
      color: $color_green;
      width: 100%;
    }
  }

  .back-button {
    padding: 0.2em;
    width: 40px;
  }

  .navbar-icon {
    font-size: 1.5em;
  }
}

.app-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

    .accounts-page {

      &.inverse {
        .accounts-container {
          .account-list-item {
            background: $color_white;
            color: $color_green_bg;

            &.selected {
              color: $color_white;
              background: $color_green_bg;
            }
          }
        }
      }

      .accounts-container {
        .category {
          text-align: left;
          padding: 1em;
          color: $color_green_bg;
        }

        .account-list-item {
          border: 1px solid $color_green_bg;
          color: white;
          background: $color_green_bg;
          padding: 0.5em;
          letter-spacing: 1px;
          margin: 1em;
          margin-top: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .item-text {
            width: 100%;
          }

          &.inverse {
            background: transparent;
            color: $color_green_bg;
          }

          &.inverse-light {
            color: $color_white;
            border: 1px solid $color_white;
          }
        }
      }
    }

  .app-page {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 1em;
    text-align: center;
    background: $color_green_bg;
    overflow-y: scroll;
    overflow-x: hidden;
    // -webkit-overflow-scrolling: touch;

    &.has-nav {
      padding-top: $nav_height_md;

      /**
       * Nested app pages shall not have the extra padding
       */
      .app-page {
        padding-top: $divider_height;
      }
      .full-page{
        background: $color_green_new;

      }
      &.MakePaymentView{
        background: $color_green_new;
        .dd-form {
          padding-bottom: 150px;
        }
      }

      //privacy page style
      .set-privacy-ti-text{
        margin-top: 1em;
        width: 90%;
        margin: 1em auto;
        text-align: left;
        color: $color_green_text;
      }
      .pri-firstlist{
        background: $color_white;
        border: 0;
        color: #000;
      }
      .set-privacy-bo-text{
        width: 90%;
        color: #fff;
        margin: 0 auto;
        font-size: 0.6em;
      }
      &.block-user-photo-container{
        width: 100%;
        height: 100%;
        background: #f5f5f5;

        .block-user-photo-list{
          width: 50%;
          height: 160px;
          float: left;
          margin: 0;
          padding-top: 2em;

          .block-user-photo{
            height: $photo_md;
            width: $photo_md;
            border-radius: 50%;
          }
          .dd-photo{
            width: 70px;
            height: 70px;
          }
          .image-box{
            width: 100%;
            display: flex;
            justify-content: center;
          }
          .half-name{
            font-size: 0.5em;
          }
          .block-user-btn{
            background: $color_green_new;
            padding: 0.5em 0.8em;
            border-radius: 1em;
            margin: 10px 5px;
            color: $color_white;
            border: 0;
          }
        }
      }
    }

    &.background-light {
      background: $color_gray_bg_light;
      border: 0;
    }

    &.welcome-page {


      background: $gradient_end;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .form{
        width: 100%;
      }
      .page-header{
        position: absolute;
        top: 0;
        left: 0;

        .back-form{
          position: absolute;
          top: 9px;
          left: 10px;
        }
      }
      .page-contenter{
        padding: 0 10px;
        position: absolute;
        top: 70px;
        left: 0;
        text-align: justify;

        p{
          text-indent: 2em;
          margin: 0;
          font-size: 0.8em;
        }
      }

      .register-page-1{

        .divider-group{
          margin-bottom: 8px;
        }
        .divider-left , .divider-right{
          height: 1px;
          width: 33%;
          display: inline-block;
          background-color: #fff;
          margin: 5px 10px;
        }
      }
      .register-page-2{
        margin-top: 50px;
        display: none;
      }
    }

    &.welcome-content {

      &.app-background-color {
        background: -webkit-radial-gradient($gradient_start, $gradient_to, $gradient_end);
        background: -o-radial-gradient($gradient_start, $gradient_to, $gradient_end);
        background: -moz-radial-gradient($gradient_start, $gradient_to, $gradient_end);
        background: radial-gradient($gradient_start, $gradient_to, $gradient_end);
      }

      .extra-content {
        width: 100%;


      }

      .login-options {
        display: none;
        background: #fff;
      }

      &.display-login {
        background: $gradient_end;

        .logo-wrapper{
          display: none;
        }
        .static-content {
          display: none;
        }

        .login-options {
          display: block;
          background: #fff;

          .logo-head{
            background: $gradient_end;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 25%;
            z-index: 200;

            .logo-img{
              height: 70%;
              margin-top: 6%;
            }
          }
          .recent-activity{
            width: 100%;
            height: 74%;
            position: absolute;
            top: 24.5%;
            left: 0;
            z-index: 1;


            .activity-list-item{
              height: 55px;
              min-height: 55px;
            }
          }
          .recent-activity-cover{
            width: 100%;
            height: 74%;
            position: fixed;
            top: 24.5%;
            left: 0;
            z-index: 2;

            background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.9));
            background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.9));
            background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.9));
           background: linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.9));

          }

          .login-btn{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6%;
            background: #fff;
            padding: 2em 0;
            z-index: 200;

            .input-name-tag{
              width: 120px;
              padding: 8px 0;
              border-radius: 2em;
            }
          }
        }
      }


    }

    .activity-container {
      width: 100%;
      padding-bottom: $nav_height_lg;

      .activity-list-item {
        background: $color_white;
        padding-bottom: 1em;
        padding: 1em 0.2em;
        display: flex;
        align-items: center;
        text-align: left;
        position: relative;
        min-height: 70px;
        border-bottom: 1px solid $color_green;
        @include ios-tap();

        &.highlighted {
          background: $color_touch_highlight;
        }

        a {
          color: black;
          text-decoration: none;
        }

        &.inverse {
          background: $color_transparent;
          border: 1px solid $color_white;
        }

        .user-photo-container {
          padding: 0.5em;
          text-align: center;
        }

        .activity-summary {
          .actions {
            padding-top: 0.2em;
            font-size: 0.8em;
            width: 90%;
            display: flex;
            //justify-content: space-between;

            .input-name-tag{
              width: 5.5em;
              padding: 0.4em 0.8em;
            }
            .input-name-tag:first-child{
              margin: 0;
            }
          }
        }

        .activity-title {
          font-size: 0.8em;
        }

        .group-name {
          padding: 10px;
        }

        .note {
          font-size: 0.7em;
        }

        .social-actions {
          position: absolute;
          width: 70px;
          font-size: 1.5em;
          top: 0;
          bottom: 0;
          right: 0.5em;
          margin: auto;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          flex-direction: column;

          .ico-cell{
            display: flex;
            align-items: center;

            .count {
              font-size: 0.5em;
            }

            .icon-button {
              padding: 0.1em;

              &.like-activity {
                color: $color_red;
              }

              &.comment-activity {
                color: $color_green_bg;
                margin-left: 2px;
              }
            }
          }

        }

        .datetime-container {
          align-self: flex-start;
          color: $color_green;
          font-size: 0.7em;
          text-align: right;
          top: 0.5em;
          text-align: left;

          &.inverse {
            color: $color_white;
          }
        }

        .amount {
          position: absolute;
          right: 1em;
          bottom: 1em;

          &.positive {
            color: $color_blue;

            &:before {
              content: '+';
            }
          }

          &.negative {
            &:before {
              content: '-';
            }
            color: $color_red;
          }

          &.pending {
            color: $color_blue !important;
          }
        }

        .rejected {
          position: absolute;
          right: 0.2em;
          bottom: 0.2em;
          border: 1px solid $color_red;
          padding: 0.1em 0.3em;
          color: $color_red;
          font-size: 0.8em;
        }
      }

      &.has-fixed-top {
        margin-top: $nav_height_md + 10px;
      }

      &.personal-feed {
        .social-actions {
          display: none !important;
        }
      }
    }

    &.activity-page {
      background: $color_gray_bg;

      .back-activity{
        text-align: left;
        margin:0 1em;
        padding: 1rem 0 0 0;
        width: 8em;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      .activity-container {
        .activity-list-item {
          background: $color_gray_bg;
          margin-bottom: 1em;
          padding: 0.1em 0.3em;
          border-bottom: 0;

          .activity-summary{
            width: 90%;

            .datetime-container{
              position: absolute;
            }
            .note{
              word-wrap: break-word;
            }
            .social-actions {
              position: inherit;
              font-size: 1.5em;
              left: 0em;
              top: 0em;

              .solid{
                position: absolute;
                top: 3.4em;
                left: 0.5em;
                width: 3.5em;
                border-top: 1px solid $color_green_new;
              }
              .like-user{
                position: absolute;
                // top: 7.6em;
                // left: 4.3em;
                top: 9em;
                left: 5.3em;
                width: 70%;
                font-weight: 600;
                font-size: 10px;
                display: flex;
                align-items: center;
                height: 32px;
              }
              .like-activity {
                position: absolute;
                top: 3.8em;
                left: -0.4em;
                margin-left: 1em;
                &.count {
                  display: none;
                }
              }
              .comment-activity {
                display:none;
              }
            }
            .amount {
              top: auto;
              left: 6.5em;
              bottom: 0;
            }
          }
        }
      }

      .leave-comment-form {
        position: relative;
        text-align:left;
        margin-left: $margin_left;
        margin-right:$margin_left;
        display: flex;
        align-items: center;

        .user-photo-container {
          flex:none;

          .dd-photo{
            width: 42px;
            height: 42px;
          }
        }

        .comment-text {
          padding:0.4em 0.2em;
          flex:1;
          height: 100%;
          margin: 5px 0;
          border: 1px solid #9a9a9a;
          padding-left: 5px;
        }

      }

      .list-comments {

        .comment-list-item {
          text-align:left;
          margin-left:$margin_left;
          margin-right:$margin_left;
          display: flex;
          align-items: center;
          margin-top:0.9em;

          .user-photo-container {
            flex: none;
            .dd-photo{
              width: 42px;
              height: 42px;
            }
          }
          .comment-text {
            white-space:pre-wrap;
            word-wrap : break-word;
            flex: 1;
            font-size: 12px;
          }
          .user-name {
            color:green;
            font-size: 10px;
            .dot{
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: $color_green_new;
              position: relative;
              top: -3px;
              right: 0px;
            }
          }
        }
      }
    }

    &.search-page {
      .text{
        margin-bottom: 10px;
        color: #fff;
      }
      .search-box {
        position: relative;
        background: white;
        width: 90%;
        margin: auto;
        overflow: hidden;
      }
      .recent{
        border-bottom: 1px solid #fff;
        width: 90%;
        margin: 5px auto;

        .text-recent{
          color: $color_green;
          position: relative;
          top: -0.8em;
        }

        .recents {
          .search-list-item {
            margin-left: 0 !important;
          }
        }
      }

      .selected-search-results {
        .selected-result {
          float: left;
          color: $color_white;
          background: $color_green_bg;
          margin: 0.2em;
          font-size: 0.8em;
          padding: 0.5em 1em;
          border-radius: 1em;
        }
        float: left;
        left: 0;
        width: 100%;
      }

      .search-input {
        margin: 0;
        border: 0;
        font-size: 1em;
        float: left;
        width: 100%;
        padding: 0.5em;
        height: 2em;
      }

      .search-list-item {
        width: 100%;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 1em;
        margin-top: 1em;
        color: $color_white;
      }

    }

    &.group-manager {
      overflow: hidden;
      .dd-row {
        padding: 0;
      }
      /**
       * CSS:hack
       * CSS:ios
       * CSS:scroll
       */
      .member-management {
        .submodule {
          height: 100%;
          position: fixed;
          width: 100%;
          .dd-form {
            height: 100%;
            overflow: hidden;
            .search-results {
              -webkit-overflow-scrolling: touch;
              overflow-y: scroll;
              height: 100%;
              width: 100%;
              position: absolute;
              overflow-x: hidden;
            }
          }
        }
      }
      .group-profile {
        margin: 1em auto;
        justify-content: inherit;
        .dd-input-squared {
          background: $color_white;
        }
        .group-actions {
          .input-name-tag {
            margin: 10px;
          }
        }
      }
    }

    .profile-container{
      .relative {
        position: relative !important;
      }

      .fixed-top {
        // position: fixed;
        // top: $nav_height_md;
        // width: 100%;
        // z-index: 10;
        background: $color_white;
      }

      .ios-top-fix {
        display: block;
        height: 300px;
        background: #fff;
        position: fixed;
        z-index: 66;
        width: 100%;
        top: 0;
      }

      .user-profile {
        position: fixed;
        top: $nav_height_md;
        width: 100%;
        background: $color_white;
        z-index: 99;
      }

      .edit-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
      }

      .friends-actions {
        .action-item {
          margin-bottom: 10px;
        }
      }

      .payment-actions {
        position: fixed;
        top: 220px;
        width: 90%;
        margin: auto;
        left: 0;
        right: 0;

        &.edit-actions {
          top: auto;
        }
      }

      .activity-container-pro {
        padding-top: 150px;

        .tab-container.tab-container-fixed-top {
          top: auto;
          height: auto;
        }

        .activity-container {
          position: absolute;

          &.has-fixed-top {
            margin-top: 60px;
          }
        }
        .app-page{
          background: #f5f5f5;
          overflow-y: auto;
        }
        .tab-container {
          background: $color_gray_bg_light;

          .tab {
            &.tab-half {
              width: 45%;
              padding: 0;
              margin: 0;
            }
          }
        }
        .activity-region{
          border-bottom:2px solid #003a42;
        }

        .activity-list-item {
          background: $color_gray_bg_light;
        }

        .active{
          background: $color_green_bg;
          border-bottom:2px solid #003a42;
          color: $color_white;

          .dd-icon-public {
            background: url(../ico/dd-icon-public-grey-01.png) 0 0 no-repeat;
            background-size: 100% 100%;
          }

          .dd-icon-between-friends {
            background: url(../ico/dd-icon-friends-grey-01.png) 0 0 no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  .app-module {
    padding-bottom: $nav_height_lg;
  }
}


.read-only {
  .app-page {
    &.has-nav {
      // Assume all pages in read-only mode is loaded
      // in the middle of another app as a component
      padding-top: 0;
    }
  }
  .actions {
    display: none !important;
  }
}

.activity-list-item{
 .like-activity{
    &.liked{
      color:red;
    }
 }
}